@use "sass:map";
/// ---------------------------
/// 1. Light
/// ---------------------------
$light: (
  // Brand colors
  primary: #1E90FF,
  primary-light: #63B3FF,
  primary-dark: #005BBB,

  secondary: #FF6347,
  secondary-light: #FF8A65,
  secondary-dark: #E5533C,

  tertiary: #32CD32,
  tertiary-light: #66E066,
  tertiary-dark: #228B22,

  // Neutral / Grays
  gray-50: #eceff2,
  gray-100: #F3F4F6,
  gray-200: #E5E7EB,
  gray-300: #D1D5DB,
  gray-400: #9CA3AF,
  gray-500: #6B7280,
  gray-600: #4B5563,
  gray-700: #374151,
  gray-800: #1F2937,
  gray-900: #111827,

  white-100: #ffffff,
  black-800: #2c3239,

  // Text
  text-primary: #111827,
  text-muted: #6B7280,
  text-inverse: #FFFFFF,

  // Background
  bg-primary: #eceff2,
  bg-secondary: #ffffff,
  bg-tertiary: #f5faff,
  bg-inverse: #1F2937,

  // Status
  success: #48BB78,
  error: #F56565,
  warning: #ED8936,
  info: #4299E1,

  // border
  border-primary: #E5E7EB,
);

/// ---------------------------
/// 2. Dark
/// ---------------------------
$dark: (
  // Brand colors
  primary: #1E90FF,
  primary-light: #63B3FF,
  primary-dark: #005BBB,

  secondary: #FF6347,
  secondary-light: #FF8A65,
  secondary-dark: #E5533C,

  tertiary: #32CD32,
  tertiary-light: #66E066,
  tertiary-dark: #228B22,

  // Neutral / Grays
  gray-50: #1F2937,
  gray-100: #2D3748,
  gray-200: #4A5568,
  gray-300: #718096,
  gray-400: #A0AEC0,
  gray-500: #CBD5E0,
  gray-600: #E2E8F0,
  gray-700: #F3F4F6,
  gray-800: #eceff2,
  gray-900: #FFFFFF,

  black-800: #2c3239,

  // Text
  text-primary: #eceff2,
  text-secondary: #CBD5E0,
  text-inverse: #111827,

  // Background
  bg-primary: #1F2937,
  bg-secondary: #2D3748,
  bg-tertiary: #4A5568,
  bg-inverse: #eceff2,

  // Status
  success: #48BB78,
  error: #F56565,
  warning: #ED8936,
  info: #4299E1,

  // border
  border-primary: #48BB78,
);

/// ---------------------------
/// 3. Использование
/// ---------------------------

// SCSS функция для получения цвета из темы
@function clr($theme, $color) {
  @return map.get($theme, $color);
}