@use 'sass:map';
@use 'sass:color';
/// ---------------------------
/// 1. Light
/// ---------------------------
$light: (
  // Brand colors
  primary: #1e90ff,
  primary-light: #63b3ff,
  primary-dark: #005bbb,

  secondary: #ff6347,
  secondary-light: #ff8a65,
  secondary-dark: #e5533c,

  tertiary: #32cd32,
  tertiary-light: #66e066,
  tertiary-dark: #228b22,

  // Neutral / Grays
  gray-50: #eceff2,
  gray-100: #f3f4f6,
  gray-200: #e5e7eb,
  gray-300: #d1d5db,
  gray-400: #9ca3af,
  gray-500: #6b7280,
  gray-600: #4b5563,
  gray-700: #374151,
  gray-800: #1f2937,
  gray-900: #111827,

  white-100: #ffffff,
  black-800: #2c3239,

  // Text
  text-primary: #111827,
  text-muted: #6b7280,
  text-inverse: #ffffff,

  // Background
  bg-primary: #eceff2,
  bg-secondary: #ffffff,
  bg-tertiary: #f5faff,
  bg-inverse: #1f2937,

  // Status
  success: #48bb78,
  error: #f56565,
  warning: #ed8936,
  info: #4299e1,

  // border
  border-primary: #e5e7eb
);
$icon: (
  default: #3a424a,
  disabled: #c7ced4,
  primary: #003a5d,
  success: #0bb060,
  warning: #faad14,
  danger: #d64b4c,
  info: #1c4ebf,
  light: #fff,
  dark: #262626,
  blue: #3781f0,
  deep: #292d32,
  muted: #6b7280,
);
/// ---------------------------
/// 2. Dark
/// ---------------------------
$dark: (
  // Brand colors
  primary: #1e90ff,
  primary-light: #63b3ff,
  primary-dark: #005bbb,

  secondary: #ff6347,
  secondary-light: #ff8a65,
  secondary-dark: #e5533c,

  tertiary: #32cd32,
  tertiary-light: #66e066,
  tertiary-dark: #228b22,

  // Neutral / Grays
  gray-50: #1f2937,
  gray-100: #2d3748,
  gray-200: #4a5568,
  gray-300: #718096,
  gray-400: #a0aec0,
  gray-500: #cbd5e0,
  gray-600: #e2e8f0,
  gray-700: #f3f4f6,
  gray-800: #eceff2,
  gray-900: #ffffff,

  black-800: #2c3239,

  // Text
  text-primary: #eceff2,
  text-secondary: #cbd5e0,
  text-inverse: #111827,

  // Background
  bg-primary: #1f2937,
  bg-secondary: #2d3748,
  bg-tertiary: #4a5568,
  bg-inverse: #eceff2,

  // Status
  success: #48bb78,
  error: #f56565,
  warning: #ed8936,
  info: #4299e1,

  // border
  border-primary: #48bb78
);

/// ---------------------------
/// 3. Использование
/// ---------------------------

// SCSS функция для получения цвета из темы

@function icon-clr($type) {
  $icon-color: map.get(
    (
      default: clr($icon, default),
      disabled: clr($icon, disabled),
      primary: clr($icon, primary),
      success: clr($icon, success),
      warning: clr($icon, warning),
      danger: clr($icon, danger),
      info: clr($icon, info),
      light: clr($icon, light),
      dark: clr($icon, dark),
      muted: clr($icon, muted),
      blue: clr($icon, blue),
      deep: clr($icon, deep),
    ),
    $type
  );
  @return $icon-color;
}

@function clr($theme, $color) {
  @return map.get($theme, $color);
}

@function adjust($color, $percent) {
  @return color.adjust($color, $lightness: $percent);
}
